body {
    font-family: Arial;
    margin: 40px;
    background: #f4f6f8;
}

table {
    width: 80%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #007BFF;
    color: white;
}

a {
    margin: 5px;
    text-decoration: none;
    color: #007BFF;
}